[DEFAULT]


[gopdb]

#
# From gopdb
#

# Manager extend rpc endpoint module string (import string value)
#module = gopdb.api.rpc

# Endpoint max lock size (integer value)
#max_lock = 100

# local database login admin name (string value)
#localroot = root

# local database admin password (string value)
#localpass = gopdb

# mysql bin log expire days (integer value)
# Minimum value: 1
# Maximum value: 14
#expire_log_days = 3
