[DEFAULT]


[gopdb]

#
# From gopdb
#

# Manager extend rpc endpoint module string (import string value)
#module = gopdb.api.rpc

# Endpoint max lock size (integer value)
#max_lock = 100

# New database intance admin name login from unix socket (string value)
#localroot = root

# New database intance admin password login from unix socket (string value)
#localpass = gopdb

# local database admin password, 1 master, 2 slave, 3 both (integer value)
# Minimum value: 1
# Maximum value: 3
#affinity = 1

# mysql bin log expire days (integer value)
# Minimum value: 1
# Maximum value: 14
#expire_log_days = 3
